body{
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-abstrato-bege-material-grunge-marrom-papel-velho_213524-129.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
 
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
div{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
 
.white-with-blue-shadow {
    text-shadow: 1px 1px 2px rgb(66 255 0), 0 0 1em rgb(115 255 0), 0 0 0.2em rgb(0 0 0);
    color: #ffffff;
    font: 1.0em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
 
h3{
    font-size: 15pt;
}
 
.button {
    background-color: #020302;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #52512a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
 
a:hover {
    color: rgb(255, 255, 255);
    background: #12130f;
    box-shadow: 0 0 10px #68660c,0 0 40px #696121,0 0 80px #949103;
    transition-delay: 1.2s;
}
 
a span{
    position: absolute;
    display: block;
}
 
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ffffff);
}
 
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
 
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffffff);
}
 
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
 
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
}
 
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
 
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
}
 
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}