body{
    font-size: 17px;
    font-family: system-ui;
    margin: -0px;
    justify-content: center;
    background-color: black;
    text-align: center;
}

.fundo{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: 0.5s;
    display: none;
}

.menuCima{
    background-color: white;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.titulo{
    width: 75%;
    text-align: center;
    font-size: 30px;
    margin-left: 12%;
}

.iconeMenu{
    margin-left: 3%;
    margin-right: 3%;
}

.iconeMenu:hover{
    cursor: pointer;
}

.menuLateral{
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 70%;
    height: 100%;
    overflow-x: auto;
    z-index: 9999;
    transition: 0.5s;
    text-align: left;
}

.opcoes{
    margin: 4%;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s;
}

.subOpcao{
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    margin-left: -30px;
    transition: 0.3s;
}

.subOpcao:hover {
    color: blue;
    cursor: pointer;
}

.selecionado{
    opacity: 40%;
    cursor: not-allowed;
    color: black;
}

.mudarCor:hover{
    transition: 0.3s;
    color: #06AA48;
    cursor: pointer;
}

.seletorArtigos {
    display: none;
}

.menuLateralSetaDireita{
    display: inline-block;
}

.menuLateralSetaBaixo{
    display: none;
}

.espacamento{
    height: 10%;
    display: block;
}

.container{
    height: auto;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.conteudo{
    margin: 1%;
}

p{
    height: 30px
}

#capa{
    text-align: center;
}

.h1Capa{
    font-size: 25px;
    height: 300px;
}

.cantoInferior{
    height: 35px;
}

.espacoLateral{
    padding-left: 50%;
    padding-right: 34%;
}

.botaoAnterior, .botaoProximo{
    border: 3px solid black;
    border-radius: 3px;
    transition: 0.5s;
}

.botaoAnterior{
    opacity: 40%;
    cursor: not-allowed;
}

.botaoProximo:hover{
    border: 3px solid black;
    background-color: black;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    transition: 0.3s;
    color: #06AA48;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

.selecionado{
    opacity: 40%;
    cursor: not-allowed;
    color: black;
}