.shadow-red{
    text-shadow: 1px 1px 2px rgb(254 0 0), 0 0 1em rgb(255 18 18), 0 0 0.2em rgb(255 85 54);
    color: #ffffff;
    font: 3.0em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
body{
    text-align: center;
    padding-top: 60px;
}
html{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(118,75,85,1) 100%);
}
h2{
    color: white;
}