div {
    border: 3px solid rgb(25,25,25);
    width: 50%;
    align-content: center;
    background: rgb(90,90,110);
    border-radius:30px;
    margin: auto;
    margin-left: 300px;
  }
  
  body {
    text-align: center;
    width: 99%;
    background: rgb(60,60,70);
  }
  
  b {
    color: white;
  }
  
  a {
    color:white;
  }
  
  p {
    font-size: 20pt;
    color: rgb(200,200,200);
  }
  
  h1 {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 23pt;
    color: white;
  }
  
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19pt;
    text-align: center;
    color: white;
  }
  
  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: center;
    color: white;
  }
  
  a {
    font-size: 13pt;
    color: white
  }
  
  a:hover {
    font-size: 14pt;
  }