a{
    color: rgb(253, 253, 253);
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34pt;
    font-weight: 600pt;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color:#ffffff67;
}

html {
    background-color: #640b83
}
h2{
    font-size: 40pt;
    text-decoration-line: underline;
}
h1{
    font-size: 45pt;
}
h3{
    font-size: 30pt;
}
