html{
    text-align: center;
    background-image:url("https://wallpaperaccess.com/full/3459941.jpg");
    background-size: 100%;
}
body{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
div{
    text-align: center;
}
.shadow{
    text-shadow: 1px 1px 2px rgb(255 255 255), 0 0 1em rgb(244 249 239), 0 0 0.2em rgb(189 189 189);
    color: #000000;
    font: 3.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
h1{
    font-family: Jazz LET, fantasy;
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}
li{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18pt;
    text-align: justify;
    color: white;
}
p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18pt;
    text-align: justify;
    color: white;
}
.button{
    background-color: #222222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {
    color: #000000;
    background: #ffffff;
    box-shadow: 0 0 10px #e6e6e6,0 0 40px #8d8d8d,0 0 80px #c1c1c2;
    transition-delay: 0.2s;
}
