h3{
    color: rgb(255, 0, 0);
}
h1,h2{
    color: rgb(0, 0, 0);
}
h4{
    color: rgb(0, 255, 13);
    font-size: 20pt;
}
p{
    font-size: 12pt;
}
.button {
    background-color: #03132100;
    border: none;
    color: rgb(241, 14, 14);
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
html{
    background-image: url("../img/mar.png");
    background-size: 1500px 2000px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
body{
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.514);*/
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: consolas;

}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {
    color: #ffffff;
    background: #5144ff;
    box-shadow: 0 0 10px #4821f3,0 0 40px #2152f3,0 0 80px #2175f3;
    transition-delay: 1.2s;
}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2195f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2195f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2195f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2195f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-galeria{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
    padding: 5px;
    grid-gap: 5px;
}

.item-galeria{
    position: relative;
}

.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-galeria .title-galeria{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-family: 'Quicksand';
}


.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}


@media(max-width:768px){
    .container-galeria{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }

    .h-2{
        grid-row: span 1;
    }
    
    .w-2{
        grid-column: span 1;
    }
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin: 0 auto;
    text-align: justify;
    background-color: transparent;
    width: 500px;
    height: 304px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
   
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(115, 185, 255);
    color: rgb(5, 0, 0);
    transform: rotateY(180deg);
  }
 .box{
      background-color: rgba(0, 0, 0, 0.562);
      padding: 20px;
      border-radius: 20px;
  } 