html{
background-color: rgb(255, 221, 69);
}

body{
font-family: Arial, Helvetica, sans-serif;
color:black;
}

div{
text-align: auto;
overflow: hidden;
width:100%;
}

header{
font-size: 20pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(154, 38, 165);
text-align: center;
}

nav{
font-size: 10pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(154, 38, 165);
text-align: center;
}

#menu{
font-size: 16pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(154, 38, 165);
text-align: center;
}

#conteudo01, #conteudo02, #conteudo03, #conteudo04, #conteudo05{
font-size: 27pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(120, 16, 129);
text-align: center;
}

main{
color: black;
font-size: 15pt;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
}

h1{
font-size: 32pt;
font-family: garamond;
color:rgb(94, 8, 89);
text-align: center;
}

.menu{
font-size: 16pt;
font-family: Arial, Helvetica, sans-serif;
color:darkorchid;
text-align: center;
}

iframe{
display: block;
margin-left: auto;
margin-right: auto;
width:60%;  
}

h2{
color: rgb(0, 0, 0);
font-size: 20pt;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: underline;
}

h3{
font-size: 27pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(120, 16, 129);
text-align: center;   
}

p{
color: black;
font-size: 16pt;
font-family:Arial, Helvetica, sans-serif;
text-align: justify;
text-indent: 50px;
}

p2{
color:black;
font-size: 17pt;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
}

p3{
color: black;
font-size: 16pt;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}

footer{
font-size: 15pt;
font-family:Arial, Helvetica, sans-serif;
color: rgb(154, 38, 165);
text-align: center;
}

.trabalho{
display: block;
margin-left: auto;
margin-right: auto;
width:30%;
}