html{
    background-image: linear-gradient(to bottom, yellow, yellow, white, white, purple, purple, black, black);
}
    
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
    
div{
    text-align: auto;
    overflow: hidden;
    width:100%;
}
    
header{
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
    
nav{
    font-size: 10pt;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(2, 41, 2);
    text-align: center;
}
    
#menu{
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
    
#conteudo01, #conteudo02{
    font-size: 27pt;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(87, 16, 145);
    text-align: center;
    text-decoration: underline;
}

#conteudo03, #conteudo04{
    font-size: 27pt;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(211, 208, 22);
    text-align: center;
    text-decoration: underline; 
}


a{
    color: rgb(0, 0, 0);
}
    
main{
    color: black;
    font-size: 15pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
    
h1{
    font-size: 32pt;
    font-family: garamond;
    color:rgb(3, 51, 3);
    text-align: center;
}
    
h2{
    font-size: 35pt;
    font-family: garamond;
    color:rgb(46, 5, 70);
    text-align: center;
    text-shadow: 5px 5px 5px rgb(168, 97, 235);
}

h3{
    font-size: 32pt;
    font-family: garamond;
    color:white;
    text-align: center;
}

h4{
    color: black;
    font-size: 19pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 50px;
    text-decoration: underline;
}

.menu{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    text-align: center;
}
    
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;  
}
    
p{
    color: black;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
}

p1{
    color: white;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
}

p2{
    color: white;
    font-size: 19pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
    text-decoration: underline;
}
    
footer{
    font-size: 15pt;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
  
.capa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:35%;
}

.breakthebinary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
}

.demi, .sam{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.bandeira, .simbolo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}