body{
    background-color: lightskyblue;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    background: #318080; 
    border-radius: 10px; 
    padding: 20px; 
    cursor: pointer; 
    color: rgb(22, 2, 2); 
    border: none; 
    font-size: 17px;
    }

div{
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
}