.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 80%;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    width: 65%;
  }