@media (min-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        /* background-color: #333;
    color: #fff; */
        /* background-image: url(../img/policia-federal-scs.png); */
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/policia-federal-scs.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 18%;
    }
    /* .header-text{
    padding: 20%;
    text-align: center;
  } */
    h1 {
        color: #fff;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        cursor: default;
    }
    h2 {
        cursor: default;
        text-align: center;
        line-height: 50px;
    }
    h3 {
        cursor: default;
    }
    .troca-cor-fundo {
        /* background-color: rgba(0, 0, 0, 0.144); */
        background-color: #b4b4b4;
    }
    /* .troca-cor-img {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/capa-policia.jpg);
        background-image: url(../img/capa-policia.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */
    /* .capa{
    height: auto;
    width: 100%;
  } */
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 10px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    section {
        padding: 20px;
        margin-bottom: 20px;
    }
    .div-footer {
        text-align: left;
    }
    a {
        color: blue;
    }
    a:link {
        color: blue;
    }
    a:hover {
        color: blue;
    }
    a:visited {
        color: blue;
    }
    footer {
        background-color: #b4b4b4;
        padding: 20px;
        text-align: center;
    }
}

@media (max-width:480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        /* background-color: #333;
    color: #fff; */
        background-image: url(../img/policia-federal-scs.png);
        background-size: 100%;
        /* background-position: center; */
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-attachment: fixed;
        /* padding: 18%; */
        background-color: blue;
    }
    /* .header-text{
    padding: 20%;
    text-align: center;
  } */
    h1 {
        color: #fff;
        font-size: 30px;
    }
    /* .capa{
    height: auto;
    width: 100%;
  } */
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 10px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    section {
        padding: 20px;
        margin-bottom: 20px;
    }
    footer {
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
    }
}