body {
    font-family: "Lato", Helvetica, sans-serif;
    color: black;
}
p {
font-size:13pt;
}

h1{
  font-size:26pt;
  font-family:lato;
}

h2{
  font-size:23pt;
  font-family:lato;
}

div {
  text-align: center;
overflow: hidden;
border: 3px solid #00BFFF;
width: 100%;
background: #87CEFA;
border-radius:30px;
}

img {
  width:85%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}



  
