img{
  width:500px;
  text-align: center;
}

h1{
  border-radius: 10px;
  background-color: rgb(105, 105, 105);
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

section {
  text-align: center;
  font-family: OCR A Std, monospace
}

h2 {
    font-size: 30px;;
    font-weight: bold
}

h3{
  font-size:x-large;
}

h4 {
  font-size: 25px;;
  font-weight: bold
}

html{
  background-image: url(img/planodefundoamor.jpeg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a{
  color: rgb(228, 228, 228);
  font-size: large;
  font-weight: bold
}

.button {
background-color:rgb(102, 100, 100);
border: 6px;
border-color: whitesmoke;
color: #ffffff;
padding: 15px 32px;
text-align: left;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}

