body { 
    font-family: "Lato", Helvetica, sans-serif;
    background: rgb(157, 255, 0);
   background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(2, 2, 2) 77%, rgb(8, 8, 8) 100%);
   }
   
   p{
   font-weight:impact;
   font-size: 15pt;
   color: rgb(255, 255, 255);
   }
   
   h1 {
    font-family:"Lato", Helvetica, sans-serif;
    font-size:21pt;
    color: rgb(255, 255, 255);
 }
 h2 {
    font-size: 20pt;
    font-family:impact;
    color: rgb(255, 255, 255);
 }
   
   div {
       overflow: hidden;	
       width: 100%;
       text-align: center;
       
   }
   
   img{
       padding: 10px;
       border-radius: 45px;
   }