@font-face {
    font-family: 'pastor_of_muppetsregular';
    src: url('Font/PASTOROF.TTF');
    font-weight: normal;
    font-style: normal;

}
/* fonte usada */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}
/* corpo */ 

.background {
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../img/back_city.png");
}
/* fundo */ 

.bird {
	height: 100px;
	width: 160px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
/* tamanho do pássaro */

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background-color: blue;
}
/* imagem usada no cano e tamanho */
.message {
	font-family:'pastor_of_muppetsregular';
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: #63130d;
	top: 12vh;
	left: 20vw;
	text-align: center;
}
/* pontuação */
.score {
	font-family:'pastor_of_muppetsregular';
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: #63130d;
	top: 0;
	left: 0;
}
/* pontuação */

.score_val {
	font-family:'pastor_of_muppetsregular';
	color: #63130d;
}
/* fonte e cor do valor da pontuação */
