


h1 {
text-align: center;
font-size: 70px;
font-family: cursive;
}

h2 {
font-size: 40px;
font-family: cursive;

}
p {
text-align: center;
font-family: cursive;

}
a {
color: blue;
font-size: 22px;
font-family: cursive;
}
h3 {
font-size: 24px;
font-family: cursive;

}

a:link{
color: blue;
font-size: 22px;
text-decoration: none;
background-color: transparent;

}
a:hover{
color: blue;
font-size: 22px;
text-decoration: none;
background-color: transparent;

}