body{
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000% 1000%;
    animation: gradient 10s ease infinite;
    overflow: hidden; 
}

@keyframes gradient {
0% {
	background-position: 0% 50%;
}
50% {
	background-position: 100% 50%;
}
100% {
	background-position: 0% 50%;
}
}

.gdd{
    font-size: 50px;
    font-family: sans-serif;
}

h2{
    font-size: 37px;
    font-family: sans-serif;
}

.obs{
    font-size: 14px;
    font-family: monospace;
}